#sidebar-hr {
  border-color:#BAB8B8;
  width:75%;
}

.patient-toggle {
  display:flex;
  float:right;
}

#mainb {
  height:350px;
}

#mainc {
  height:350px;
}

.nav-md .container.body .col-md-3.left_col {
  height:1500px;
}

#h3-goal {
  text-align:center;
}

#ecdonut {
  height:300px;
}

.x_title.donut h2 {
  overflow: visible !important;
}

#red {
  color:red;
}

#reportrange {
  background: #fff; 
  cursor: pointer; 
  padding: 5px 10px; 
  border: 1px solid #ccc;
  display:inline;
}

.icon-padding {
  padding-right:8px;
}

#overflow {
  overflow: visible !important;
}

#italics {
  font-style: "italic" !important;
}

/* TEST CHART STUFF */
#test_chart {
  height: 250px;
}

label {
  display: block;
}

.last_checkup {
  font-weight: bold;
  font-size: 120%;
}

.datepicker-inline {
  display: inline-block;
  padding-right: 10px;
}

.date-from, .date-to {
  font-weight:bold;
}

.float-right {
  float: right;
}