.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 3px;
    color: white;
  }

svg.fbgraph2 {
  width:900px;
  height:500px;
  border: solid 1px #eee
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}